{% load blog_tags %}
<div class="content-section">
  <h3>Разделы</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light active">Новые записи</li>
      <li class="list-group-item list-group-item-light">Объявления</li>
      <li class="list-group-item list-group-item-light">Соревнования</li>
      <li class="list-group-item list-group-item-light">Встречи участников</li>
    </ul>
</div>
<div class="content-section">
    <h3>Новые статьи:</h3>
    {% show_latest_posts 3 %}
    <h3>Популярные статьи</h3>
    {% get_most_commented_posts as most_commented_post %}
    <ul>
        {% for post in most_commented_post %}
        <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <a class="navbar-brand mr-4" href="{% url 'blog:post_feed' %}"><i class='bx bx-rss bx-tada-hover'></i></a>
</div>
