{% load blog_tags %}
<div class="content-section">
  <h3>Разделы</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light active">Новые записи</li>
      <li class="list-group-item list-group-item-light">Объявления</li>
      <li class="list-group-item list-group-item-light">Соревнования</li>
      <li class="list-group-item list-group-item-light">Встречи участников</li>
    </ul>
</div>
<div class="content-section">
<!--    <p>Всего {% total_posts %}</p>-->
    <h3>Новые статьи:</h3>
    {% show_latest_posts 3 %}
</div>
