{% extends "blog/base.html" %}
{% load blog_tags %}

{% block content %}
<div class="content-section">
    {% if query %}
        <h1>Статьи содержащие "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
            Найдено {{ total_results }} записей{{ total_ressults|pluralize }}
            {% endwith %}
        </h3>
        {% for post in results %}
        <h4>
            <a href="{{ post.get_absolute_urls }}">
                {{ post.title }}
            </a>
        </h4>
            {{ post.body|markdown|truncatewords_html:12 }}
        {% empty %}
            <p>По Вашему запросу ничего не найдено</p>
        {% endfor %}
            <p><a href="{% url 'blog:post_search' %}">Попробовать еще раз</a></p>
    {% else %}
        <h1>Поиск</h1>
        <form class="input-group" method="GET">
            <div class="form-outline">
                {{ form.as_p }}
            </div>
            <button class="btn btn-primary" style="height: 38px" type="submit">
            <i class='bx bx-search bx-tada-hover'></i>
            </button>
        </form>

    {% endif %}
</div>
{% endblock %}