{% extends "blog/base.html" %}

{% block title %}Поделиться статьей{% endblock %}

{% block content %}
   <div class="content-section">
       {% if sent %}
       <h1>Письмо успешно доставлено!</h1>
       <p>
           Статья {{ post.title }} успешно отправлена {{ form.cleaned_data.to }}.
       </p>
       {% else %}
       <h2>Поделиться {{ post.title }}</h2>
       <div class="form-group">
            <form method="POST">

                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    <div>{{ field }}</div>
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                {% csrf_token %}
                <input class="btn btn-primary bg-blue" type="submit" value="Отправить статью">
            </form>
       </div>
       {% endif %}
   </div>

{% endblock %}